<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intravenous </title>
</head>

<body>
  <div class="container">
    <main>
      <h1>Rugs</h1>
      <div class="container top-container">
        <% homeproducts.forEach(product=> { %>
            <h2><%=product.name %></h2>
              <a href="/intravenous/<%=product._id %>"><img src="<%=product.img %>"></a>

              <form action="/intravenous/<%=product._id %>?_method=DELETE" method="post">
                <input type="submit" value="DELETE" />
              </form>
              <a href="/intravenous/<%=product._id %>/edit">EDIT</a>
          
          <% }) %>
      </div>
    </main>
  </div>
</body>

</html>