<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intravenous Rugs</title>
</head>
<body>
    <div class="container">
        <h1><%=allProducts.name %></h1>
        <img src="<%= allProducts.img %>">
        <img src="/img/outkastRug.png">
        <div class="container body-container">            
            </br>Description: <%=allProducts.description %> 
            </br>Price: $<%=allProducts.price%>  
            </br>Quantity: <%=allProducts.qty%>
        </div>
    </div>
</body>
</html>